body {
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("./images/christine-sidefront.webp");
  background-position: center bottom;
  background-position-x: left;
  background-size: 80%;
  background-repeat: no-repeat;
}

h1 {
  margin-bottom: 550px;
  font-size: 40px;
  position: fixed;
}

form {
  margin-top: 550px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.form1 {
  position: fixed left;
  padding: 10px;
  padding-top: 14px;
  padding-bottom: 38px;
  margin-left: 200px;
}

.form2 {
  position: fixed right;
  padding: 10px;
}

button {
  font-weight: bolder;
  color: black;
  width: 100%;
  justify-content: space-between;
  background-color: red;
  border-radius: 5px;
  padding: 5px;
}

input {
  color: red;
  /* padding: 5px; */
  font-weight: bolder;
  margin: 5px;
}

::placeholder {
  /* background-color: black; */
  border-color: black;
}
